a {
  color: black; }

html {
  height: 100%; }

body {
  background-color: gray;
  height: 100%; }

div.display {
  background-color: silver;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px; }

div#left {
  float: left;
  display: block;
  width: 20%;
  margin-left: 1%; }

div#center {
  float: left;
  display: block;
  width: 20%;
  margin-left: 1%; }

div#right {
  float: left;
  display: block;
  width: 40%;
  margin-left: 1%; }

.searchResult {
  cursor: pointer; }

.characterAttribute {
  font-weight: bold; }
