@model InfoVM

<div id="charInfo">
	<h4 id="name">Character Information</h4>
	<span class="characterAttribute">Alias: </span> <span class="attributeValue" id="alias"></span><br />
	<span class="characterAttribute">Born: </span> <span class="attributeValue" id="born"></span><br />
	<span class="characterAttribute">Died: </span> <span class="attributeValue" id="died"></span><br />
	<span class="characterAttribute">Played By: </span> <span class="attributeValue" id="actor"></span><br />
	<span class="characterAttribute">Url: </span> <span class="attributeValue" id="url"></span><br />

</div>


<script>
	loadCharacterInfo(@Model.CharacterId);
</script>