<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
	<link href="~/Scripts/Style.css" rel="stylesheet" />
	<script src="~/Scripts/Scripts.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
